@model FunApp.Models.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var joke in this.Model.Jokes)
    {
        <div class="col-md-4 clearfix">
            <div class="panel panel-default">
                <div class="panel-body">
                    @joke.Content
                </div>
                <div class="panel-footer">
                    @joke.CategoryName
                    <a asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id" class="btn btn-default btn-sm">View</a>
                </div>
            </div>
        </div>
    }
</div>