@model FunApp.Web.Models.Jokes.CreateJokeViewModel

@{
    this.ViewData["Title"] = "Create";
    var categories = this.ViewData["Categories"] as IEnumerable<SelectListItem>;
}

<h2>@this.ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="categories" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div id="SuggestedCategory"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info btn-sm" />
                <input value="Suggest category" class="btn btn-default btn-sm" id="CategorizeButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Index</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $("#CategorizeButton").click(function () {
            var joke = $("#Content").val();
            $.ajax({
                type: "POST",
                url: "/Jokes/SuggestCategory",
                data: { joke: joke },
                success: (data) => $("#CategoryId").val(data.categoryId)
                //success: function(data) {
                //    $("#SuggestedCategory").html("Suggested category: " + data.categoryName);
                //    $("#CategoryId").val(data.categoryId);
                //}
            });
        });
    </script>
}
